<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create user</a>
      <a href="/edit">Edit</a>
      <a href="#about">About</a>
    </div>

    <table
      class="ws-table-all w3-bordered w3-striped w3-border test w3-hoverable"
      style="color: #000; width: 100%; border-collapse: collapse"
    >
      <tbody>
        <tr class="w3-green">
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
      </tbody>
      <tbody>
        <% for (var i = 0; i < listUsers.length; i++) { %>
        <tr>
          <td><%= listUsers[i].id %></td>
          <td><%= listUsers[i].email %></td>
          <td><%= listUsers[i].name %></td>
          <td><%= listUsers[i].city %></td>
          <td>
            <div>
              <a href="/edit/<%= listUsers[i].id %>">Edit</a>

              <form action="/delete/<%= listUsers[i].id %>">
                <button
                  style="background-color: crimson; margin: 5; padding: 5"
                >
                  Delete
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
